<ion-view title="Available Geo Events" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="availableGeoEvents-list3" class=" ">
            <ion-item class="item-icon-left  " id="availableGeoEvents-list-item24" ui-sref="menu.geoEventDetails">
                <i class="icon ion-android-checkbox-outline"></i>In Range Event</ion-item>
            <ion-item class="item-thumbnail-left  " id="availableGeoEvents-list-item20" ui-sref="menu.geoEventDetails">
                <h2>Found Event</h2>
                <p>Distance: 200m</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="availableGeoEvents-list-item21" ui-sref="menu.geoEventDetails">
                <h2>Some Other Event</h2>
                <p>Distance: 2.1 km</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="availableGeoEvents-list-item22" ui-sref="menu.geoEventDetails">
                <h2>Yet Another Event</h2>
                <p>Distance: 5.6 km</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>