<ion-view title="Geo Event Details" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="geoEventDetails-form1" class="list ">
            <label class="item item-input " id="geoEventDetails-input3">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="geoEventDetails-input4">
                <span class="input-label">Location</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="range range-positive " id="geoEventDetails-range1">Check In Range
                <input type="range" value="100" min="10" max="600">
            </ion-item>
            <label class="item item-input " id="geoEventDetails-input1">
                <span class="input-label">Start Date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="geoEventDetails-input2">
                <span class="input-label">End Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <ion-list id="geoEventDetails-list4" class=" ">
            <ion-item class="item-icon-left  " id="geoEventDetails-list-item25">
                <i class="icon ion-android-checkbox-outline-blank"></i>Objective 1</ion-item>
            <ion-item class="item-icon-left  " id="geoEventDetails-list-item26">
                <i class="icon ion-android-checkbox-outline"></i>Objective 2</ion-item>
            <ion-item class="item-icon-left  " id="geoEventDetails-list-item27">
                <i class="icon ion-android-checkbox-outline-blank"></i>Objective 3</ion-item>
        </ion-list>
        <a ui-sref="menu.home" id="geoEventDetails-button2" class=" button button-positive  button-block ">Create/Save</a>
    </ion-content>
</ion-view>